.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}




.clan {
  flex-direction: row;
  text-align: center;
}

.clans-content h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: center;
}

.clan-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clan-card {
  width: 100%;
  max-width: 500px;
  height: 500px;
  position: relative;
  perspective: 1000px;
  border-radius: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.front img,
.back img {
  display: block;
  max-width: 100%;
  max-height: 100%;

  border-radius: 10px;
}

.front {
  background: none;
  color: black;
}

.back {
  background: none;
  transform: rotateY(180deg);
}

.clan-card.flipped .front {
  transform: rotateY(180deg);
}

.clan-card.flipped .back {
  transform: rotateY(360deg);
}

@media screen and (max-width: 480px) {
  .clan-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
@media screen and (max-width: 767px) {
  .clan-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@media screen and (max-width: 1024px) {
  .clan-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .carousel-root{
    width: 100%;
  }
}

@media screen and (max-width: 1224px) {
}

@media screen and (min-width: 320px) and (max-width:900px) {
  .clans-content h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 580px){
  .slide img {
    width: 90% !important;
    height: 450px !important;
  }
}
@media screen and (max-width: 500px) {
  .slide img {
    height: 400px !important;
  }
}
@media screen and (max-width: 400px) {
  .slide img {
    height: 300px !important;
  }
}

